# ==========================================
# BASE DE DATOS TRANSACCIONAL (OLTP - Delivery)
# ==========================================
DB_HOST=127.0.0.1
DB_NAME=nombre_db_transaccional_aqui
DB_USER=postgres
DB_PASS=tu_contraseña_aqui
DB_PORT=5432

# ==========================================
# BASE DE DATOS ANALÍTICA (OLAP - Modelo Estrella)
# ==========================================
OLAP_HOST=127.0.0.1
OLAP_NAME=nombre_db_analitica_aqui
OLAP_USER=postgres
OLAP_PASS=tu_contraseña_aqui
OLAP_PORT=5432